@import '../../../../Styles/SassResources/sass-resources.scss';

.header-navigation.standard {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 20;
	transition: background-color $fast-speed;

	.primary-nav {
		display: none;
	}

	.header-navigation-items-wrapper {
		position: relative;
		padding: 14px 0;

		@include breakpoint(large) {
			padding: 20px 0;
		}

		.header-navigation-items-wrapper-inner {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&:after {
			content: '';
			width: 100%;
			height: 5px;
			position: absolute;
			left: 0;
			bottom: -5px;
			background-color: $black;
			transition: width $fast-speed;
			transition-delay: 2s;
		}

		.header-navigation-list {
			display: none;
			text-align: center;

			@include breakpoint(large) {
				display: block;
			}

			ul {
				list-style-type: none;

				li {
					display: inline-block;
					margin-bottom: 0;
				}
			}
		}

		.header-navigation-actions {
			position: relative;
			z-index: 1;

			ul {
				display: flex;

				li {
					display: inline-block;
					margin: 0 0 0 10px;
					cursor: pointer;

					&.menu-toggle {
						font-size: 1.25rem; //20px one off size for header
						margin-bottom: 0;
						text-transform: uppercase;
						transition: transform $fast-speed;
						position: relative;

						&:after {
							content: '';
							width: 8px;
							height: 8px;
							border-radius: 50%;
							margin: 0 auto;
							display: block;
							background-color: $black;
							position: absolute;
							bottom: -5px;
							left: 50%;
							opacity: 0;
							transform: translateX(-50%);
							transition: opacity $fast-speed;
						}
					}

					&.search-toggle {
						font-size: 1.5rem;
						margin-left: $small-spacing;

						i {
							width: 24px;
							display: block;
						}
					}
				}
			}
		}
	}

	&.bg-solid {
		background-color: $core-colour-5 !important;
	}

	&.active {
		.primary-nav {
			display: block;
		}

		.header-navigation-actions {
			ul {
				li {
					&.menu-toggle {
						transform: translateY(-15px);

						&:after {
							opacity: 1;
						}
					}
				}
			}
		}
	}

	&.search-open {
		background-color: $core-colour-5 !important;
	}
}


//ANIMATIONS
@keyframes growWidth {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

@keyframes fadeUp {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

$nav-line-animation-duration: 1s;
$initial-delay-value: calc(#{$nav-line-animation-duration} * 0.75); //starting point
$remaining-delay-amount: calc(#{$nav-line-animation-duration} - #{$initial-delay-value});
$delay-amount-interval: calc(#{$remaining-delay-amount} /3); // == 0.83s

.home-landing-page {
	.header-navigation.standard {
		.header-navigation-items-wrapper {
			&:after {
				@include breakpoint(large) {
					width: 0;
				}
			}
		}

		.header-navigation-list ul li {
			@include breakpoint(large) {
				opacity: 0;
			}
		}

		.header-navigation-actions {
			@include breakpoint(large) {
				opacity: 0;
			}
		}
	}
}

.on-load-swipe-complete {
	.header-navigation-items-wrapper {
		&:after {
			@include breakpoint(large) {
				width: 0;
				animation-name: growWidth;
				animation-duration: $nav-line-animation-duration;
				animation-timing-function: ease-out;
				animation-fill-mode: forwards;
			}
		}
	}

	.header-navigation-list ul li {
		@include breakpoint(large) {
			opacity: 0;
			animation-name: fadeUp;
			animation-duration: 0.25s;
			animation-timing-function: ease-out;
			animation-fill-mode: forwards;
		}

		&:nth-child(1) {
			@include breakpoint(large) {
				animation-delay: $initial-delay-value;
			}
		}

		&:nth-child(2) {
			@include breakpoint(large) {
				animation-delay: calc(#{$initial-delay-value} + #{$delay-amount-interval});
			}
		}

		&:nth-child(3) {
			@include breakpoint(large) {
				animation-delay: calc(#{$initial-delay-value} + (#{$delay-amount-interval} *2));
			}
		}
	}

	.header-navigation-actions {
		@include breakpoint(large) {
			opacity: 0;
			animation-name: fadeUp;
			animation-duration: 0.25s;
			animation-timing-function: ease-out;
			animation-fill-mode: forwards;
			animation-delay: calc(#{$initial-delay-value} + (#{$delay-amount-interval} *3));
		}
	}
}
