@import '../../../../Styles/SassResources/sass-resources.scss';

.quote-item.portrait-image {
	.quote-item-media {
		margin-bottom: $small-spacing;

		@include breakpoint(large) {
			margin-bottom: 0;
		}
	}

	&.flipped {
		.quote-item-text {
			@include breakpoint(large) {
				order: 1;
			}
		}

		.quote-item-media {
			@include breakpoint(large) {
				order: 2;
			}
		}
	}
}
