@import '../../../../Styles/SassResources/sass-resources.scss';

.header-item.shape {
	position: relative;
	padding-top: $medium-spacing;

	@include breakpoint(large) {
		padding-top: 0;
	}

	.header-item-title {
		@extend %text-xlarge;

		@include breakpoint(large) {
			margin-bottom: 0;
			padding-top: 100px;
		}
	}

	.header-item-text-wrapper {
		position: relative;

		.header-item-text {
			@include breakpoint(large) {
				margin-top: 140px;
				position: absolute;
			}
			p {
				@extend %h5-style;
			}
		}
	}

	.shape {
		@include breakpoint(large) {
			margin-top: -30px;	
		}

		max-height: 440px;
	}
}
