@import '../../../../Styles/SassResources/sass-resources.scss';

.carousel-module.images {
	.carousel-nav {
		display: flex;
		justify-content: space-between;

		.counter {
			.divider {
				margin: 0 10px;
			}
		}

		span {
			@extend %p-style;
			cursor: pointer;

			&.nav-prev {
				margin-right: 30px;
			}
		}
	}
}
