@import '../../../../Styles/SassResources/sass-resources.scss';

.promotion-item.full {
	.promotion-item-media {
		margin-bottom: $small-spacing;

		img {
			width: 100%;
		}
	}

	.promotion-item-heading {
		@extend %h4-style;
	}

	h1, h2, h3, h4, h5, h6, p {
		&:last-child {
			margin-bottom: 0;
		}
	}

	.cta {
		display: inline-block;
		margin-top: $small-spacing;
	}
}
