@import '../../../../../Styles/SassResources/sass-resources.scss';

.primary-nav {
	height: 100vh;
	position: relative;
	left: 0;
	top: -60px;
	width: 100%;
	padding-top: 130px;

	@include breakpoint(large) {
		top: -15px;
		padding-top: 0;
	}

	&:after {
		content: '';
		width: 110%;
		height: 100%;
		display: block;
		background-color: $core-colour-1;
		position: absolute;
		top: 0;
		left: -5%;
		right: 0;
		bottom: 0;
		transform: rotate(2deg);
		z-index: -1;

		@include breakpoint(large) {
			width: 100%;
			left: 0;
		}
	}

	.primary-nav-lists {
		@include breakpoint(medium down) {
			height: 100%;
			overflow-y: scroll;
			margin: 0 $medium-spacing;
			padding-bottom: $medium-spacing;
		}

		@include breakpoint(large) {
			display: flex;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 80%;
			max-width: 640px;
		}

		.primary-nav-list {
			margin: 0 0 $medium-spacing;

			@include breakpoint(large) {
				margin: 0 5%;
				width: 45%;
			}

			.primary-nav-list-title {
				font-size: 1.875rem; //30px font size one off
				margin-bottom: $xsmall-spacing;
				text-transform: uppercase;

				@include breakpoint(large) {
					margin-bottom: 40px;
					font-size: 2.5rem; //40px one off style for mobile nav
				}
			}

			ul {
				list-style-type: none;

				li {
					margin-bottom: 10px;

					a {
						color: inherit;
						text-decoration: none;

						&:hover {
							font-style: italic;
						}

						&.active {
							border-bottom: 2px solid $black;
						}
					}
				}
			}
		}
	}

	.primary-nav-highlighted-menu-mobile {
		margin-bottom: $medium-spacing;

		@include breakpoint(large) {
			display: none;
		}

		li {
			margin-bottom: 0;

			a {
				font-size: 2.5rem; //40px one off style for mobile nav

				&.active {
					border-bottom: 2px solid $black;
				}
			}
		}
	}
}