@import '../../../../Styles/SassResources/sass-resources.scss';
.experience-promo-item.standard {
	margin-bottom: $large-spacing;

	@include breakpoint(large) {
		margin-bottom: 0;
		position: relative;
		height: 100vh;
	}

	.experience-promo-text {
		position: relative;
		z-index: 1;

		@include breakpoint(large) {
			top: 18%;
		}

		p {
			@extend %h4-style;
		}
	}

	.shape-wrapper {
		@include breakpoint(large) {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			display: flex;
			justify-content: center;
		}
	}

	.shape {
		width: 70%;
		position: relative;
		top: $small-spacing;
		left: -15%;
		align-self: flex-end;

		@include breakpoint(large) {
			width: 48vw;
			top: auto;
			bottom: 14vh;
			left: 0;
		}
	}

	.experience-promo-title-and-link-wrapper {
		@include breakpoint(large) {
			height: 100vh;
			max-height: -webkit-fill-available;
			position: relative;
		}

		.experience-promo-title-and-link {
			width: 85%;
			margin-top: -30%;
			margin-left: auto;

			@include breakpoint(medium) {
				margin-top: -40%;
			}

			@include breakpoint(large) {
				width: 100%;
				margin: 0;
				position: absolute;
				bottom: -50px;
			}

			@include breakpoint(xlarge) {
				bottom: -100px;
			}

			.experience-promo-link {
				margin-right: -10%;
				display: block;
				position: relative;
				z-index: 1;

				@include breakpoint(large) {
					margin-right: 0;
					top: 0;
				}

				&:after {
					content: "";
					display: block;
					padding-top: 60%;
					background-color: $core-colour-1;
					transform: rotate(-3deg);
				}

				.carousel-nav-arrow {
					width: 30px;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					z-index: 1;
					transition: all $fast-speed;

					@include breakpoint(medium) {
						width: 50px;
					}
				}

				.carousel-nav-eye {
					display: none;
					width: 40px;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					z-index: 1;
					transition: all $fast-speed;

					@include breakpoint(medium) {
						width: 60px;
					}
				}
			}

			.experience-promo-title {
				@extend %text-xlarge;
				margin-bottom: -30px;
				margin-right: 30px;
				text-align: right;
				position: relative;
				z-index: 2;

				@include breakpoint(large) {
					margin-bottom: -60px;
					margin-right: 0;
				}
			}
		}
	}
}

//Scroll in view animation for slides
.experience-promo-item.standard {
	.experience-promo-text,
	.experience-promo-link,
	.experience-promo-title,
	.shape {
		@include breakpoint(large) {
			transform: translateX(-100vw);
			visibility: hidden;
			transition: all $home-transition-speed;
			transition-timing-function: $transition-ease;
		}

		.slick-active + .slick-slide & {
			@include breakpoint(large) {
				transform: translateX(100vw);
				transition-delay: none;
			}
		}

		.slick-active & {
			@include breakpoint(large) {
				transform: translateX(0);
				visibility: visible;
			}
		}
	}

	.shape {
		.slick-active & {
			@include breakpoint(large) {
				transition-delay: $home-transition-delay;
			}
		}
	}

	.experience-promo-link {
		.slick-active & {
			@include breakpoint(large) {
				transition-delay: calc(#{$home-transition-delay} * 2);
			}
		}
	}

	.experience-promo-title {
		.slick-active & {
			@include breakpoint(large) {
				transition-delay: calc(#{$home-transition-delay} * 3);
			}
		}
	}
}


//Animations for second slide shape appearing on first slide
.slick-slide:nth-child(2) {
	.experience-promo-item.standard {
		.shape {
			@include breakpoint(large) {
				transform: translate3d(0,0,0) rotate(-30deg);
				transition-delay: 0;
				transition-duration: 0.85s;
				transition-timing-function: ease-out;
				visibility: visible;
				will-change: transform;
			}

			.on-load-swipe-complete & {
				@include breakpoint(large) {
					transform: translate3d(-85%,0,0) rotate(0deg);
					transition-delay: 0;
					transition-duration: 0.85s;
					transition-timing-function: ease-out;
					will-change: transform;
				}
			}
		}
	}

	&.slick-active {
		.experience-promo-item.standard {
			.shape {
				@include breakpoint(large) {
					transform: translate3d(0,0,0);
					transition-delay: 0;
					transition-duration: 0.85s;
					transition-timing-function: ease-out;
					will-change: transform;
				}
			}
		}
	}
}


.experience-promo-item.standard {
	//Link hover move up animation
	&.hover {
		.experience-promo-text {
			@include breakpoint(large) {
				margin-top: -30px;
				transition: margin-top 0.8s;
				transition-timing-function: $transition-ease;
			}
		}

		.shape {
			@include breakpoint(large) {
				margin-top: -30px;
				transition: margin-top 0.6s;
				transition-timing-function: $transition-ease;
			}
		}

		.experience-promo-title-and-link-wrapper .experience-promo-title-and-link .experience-promo-link {
			@include breakpoint(large) {
				top: -30px;
				transition: top 0.4s;
				transition-timing-function: $transition-ease;
			}

			.carousel-nav-arrow {
				display: none;
			}

			.carousel-nav-eye {
				display: block;
			}
		}

		.experience-promo-title-and-link-wrapper .experience-promo-title-and-link .experience-promo-title {
			@include breakpoint(large) {
				margin-bottom: -30px;
				transition: margin-bottom 0.8s;
				transition-timing-function: $transition-ease;
			}
		}
	}
}
