@import '../../../../Styles/SassResources/sass-resources.scss';

.video-item.standard {
	cursor: pointer;
	position: relative;

	.poster > i {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 40px;
		height: auto;

		@include breakpoint(large) {
			width: 80px;
		}
	}
}
