@import '../../../../Styles/SassResources/sass-resources.scss';

.header-item.square {
	padding-top: 130px;
	position: relative;
	margin-bottom: 50px;

	@include breakpoint(large) {
		padding-top: 14%;
	}

	@include breakpoint(xxlarge) {
		padding-top: 180px;
	}

	.colour-block {
		@include angle(after, true, 3deg);
		background-color: $core-colour-1;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 50%;
	}

	.header-item-title-wrapper {
		position: relative;
		z-index: 3; //sit above shape bg and img

		.header-item-title {
			@extend %h2-style;
			text-align: center;
			margin-bottom: 0;
		}
	}

	.header-item-image {
		position: relative;
		z-index: 2;

		img {
			width: 100%;
			display: block;
			margin: -4% auto $small-spacing;
		}
	}

	.header-item-intro-text {
		p {
			@extend %h3-style;
			margin-bottom: 0;
			margin-top: $small-spacing;
		}
	}
}
