@import '../../Styles/SassResources/sass-resources.scss';

.home-landing-page {

	&.noscroll {
		@include breakpoint(large) {
			position: fixed;
			overflow: hidden;
		}
	}

	.on-load-swipe {
		background: $core-colour-1;
		height: 200vh;
		position: fixed;
		left: -100px;
		top: -50vh;
		width: calc(100vw + 200px);
		z-index: 30;

		@include breakpoint(large) {
			z-index: 20;
		}
	}
}