@import '../../../../Styles/SassResources/sass-resources.scss';

.form-item {
	.contact-tel-wrapper {
		display: flex;
		align-items: flex-end;
		margin-bottom: $small-spacing;

		.contact-tel-dropdown {
			flex-basis: 25%;
			margin-right: 2%;

			.dropdown-replacement-wrapper {
				margin-bottom: 0;
			}
		}

		select {
			margin-bottom: 0;
		}

		input {
			margin-bottom: 0;
			padding-bottom: 11px;

			@include breakpoint(large) {
				padding-bottom: $xsmall-spacing;
			}
		}
	}

	.cta {
		cursor: pointer;
		display: block;
		margin-left: auto;
	}
}
