@import '../Global/variables.scss';
@import '../../../../Helpers/SCSS/mixins.scss';
@import 'node_modules/foundation-sites/scss/util/util';

%global-styles {
	font-weight: normal;
	line-height: 1;
	margin: 0;
}

%h1-style {
	@extend %global-styles;
	@include fluid-fonts(165,160);
	font-family: $font-family-primary;
	line-height: 0.94;
	letter-spacing: -5px;
	margin-bottom: 40px;

	@include breakpoint(large) {
		letter-spacing: -7px;
		margin-bottom: 60px;
	}
}

%h2-style {
	@extend %global-styles;
	@include fluid-fonts(82,90);
	font-family: $font-family-secondary;
	line-height: 1;
	letter-spacing: 0;
	margin-bottom: 20px;

	@include breakpoint(xlarge) {
		letter-spacing: -2px;
	}
}

%h3-style {
	@extend %global-styles;
	@include fluid-fonts(60,50);
	font-family: $font-family-primary;
	line-height: 1.17;
	margin-bottom: 40px;

	@include breakpoint(large) {
		margin-bottom: 60px;
	}
}

%h4-style {
	@extend %global-styles;
	@include fluid-fonts(60,45);
	font-family: $font-family-secondary;
	line-height: 1.17;
	margin-bottom: 30px;
}

%h5-style {
	@extend %global-styles;
	font-family: $font-family-secondary;
	@include fluid-fonts(50,35);
	line-height: 1.25;
	margin-bottom: 15px;
}

%p-style {
	@extend %global-styles;
	font-family: $font-family-primary;
	font-size: 20px;
	line-height: 1.33;
	margin-bottom: 30px;

	@include breakpoint(large) {
		font-size: 25px;
	}
}

%text-small {
	@extend %global-styles;
	font-family: $font-family-primary;
	font-size: 15px;
	line-height: 1.2;
	margin-bottom: 20px;

	@include breakpoint(large) {
		font-size: 20px;
	}
}

%text-large {
	@extend %global-styles;
	@include fluid-fonts(40,35);
	font-family: $font-family-primary;
	line-height: 1.25;
	margin-bottom: 20px;

	@include breakpoint(large) {
		margin-bottom: 30px;
	}
}

%text-xlarge {
	@extend %global-styles;
	@include fluid-fonts(200,240);
	font-family: $font-family-primary;
	line-height: 0.8;
	letter-spacing: -7px;
	margin-bottom: 40px;

	@include breakpoint(large) {
		letter-spacing: -14px;
		margin-bottom: 60px;
	}
}
/////////////////////////////////POTENTIALLY NOT BEING USED
%text-medium {
	font-family: $font-family-primary;
	font-size: 1.25rem; //20px
	line-height: 1.5;
	color: $black;
}

%number-small {
	font-size: 2.5rem; //40px
	font-weight: $font-weight-regular;
	line-height: 1;
	color: $black;
}

%number-large {
	font-size: 3.125rem; //50px
	font-weight: $font-weight-regular;
	line-height: 1;
	color: $black;
}

/////////////////////////////////////////////////////////


%border-divider {
	border-bottom: 1px solid $black;
	padding-bottom: $small-spacing;
	margin-bottom: $small-spacing;
}
