@import '../../../../../../Styles/SassResources/sass-resources.scss';

.search-input {
	position: relative;

	input {
		@extend %h5-style;
		appearance: none;
		border-radius: 0;
		background: none;
		border: none;
		box-shadow: none;
		border-bottom: 1px solid $black;
		width: 100%;
		padding-bottom: $xsmall-spacing;
		padding-right: 50px;

		&:focus {
			outline: none;
		}
	}

	.search-go {
		position: absolute;
		bottom: 40px;
		right: 5px;

		@include breakpoint(large) {
			right: 0;
		}

		i {
			font-size: 1.4rem;
		}
	}
}

