@import '../../../../Styles/SassResources/sass-resources.scss';

.promotion-item.with-shape {
	padding-bottom: $small-spacing;

	@include breakpoint(large) {
		padding-top: $large-spacing;
		padding-bottom: $large-spacing;
		position: relative;
	}

	.promotion-item-text-wrapper {

		@include breakpoint(large) {
			position: relative;
			z-index: 1;
			max-width: 88%;
		}

		.promotion-item-heading {
			@extend %text-xlarge;
		}

		.promotion-item-text {
			@include breakpoint(large) {
				max-width: 85%;
			}

			p {
				@extend %h4-style;
			}
		}

		.promotion-item-link {
			transition: transform $fast-speed $transition-ease;
			display: block;

			img {
				width: 60px;
			}
		}

		.promotion-item-text-link {
			text-decoration: none;
			color: inherit;

			&:hover {
				.promotion-item-heading {
					font-style: italic;
				}

				.promotion-item-text {
					p {
						font-style: italic;
					}
				}

				.promotion-item-link {
					transform: translateX(15px);
				}
			}
		}
	}

	.promotion-item-media {
		img {
			@include breakpoint(large) {
				position: absolute;
				top: 20px;
    			left: 55%;
				max-width: initial;
			}
		}
	}

	&.flipped {
		.promotion-item-text-wrapper {
			@include breakpoint(large) {
				order: 2;
			}
		}

		.promotion-item-media {
			@include breakpoint(large) {
				order: 1;
			}

			img {
				@include breakpoint(large) {
					left: auto;
					right: 40%;
				}
			}
		}
	}
}