@import '../../Styles/SassResources/sass-resources.scss';
$offsetAmount: 160px;

.search-results-landing-page {
	.search-results-content-wrapper {
		width: 100%;
		padding-top: 130px;
		margin-bottom: $large-spacing;
		position: relative;
		left: 0;
		top: 11px;
		transition: opacity $medium-speed;
		min-height: 100vh;

		@include breakpoint(large) {
			top: 44px;
		}

		&:after {
			content: '';
			width: 110%;
			height: 100%;
			display: block;
			background-color: $core-colour-1;
			position: absolute;
			top: 0;
			left: -5%;
			right: 0;
			bottom: 0;
			transform: rotate(2deg);

			@include breakpoint(large) {
				width: 100%;
				left: 0;
			}
		}
	}

	.search-results-content {
		position: relative;
		z-index: 1;

		.search-number-of-items {
			@extend %text-small;
			text-align: right;
		}

		.search-results-list {
			list-style-type: none;
			margin-bottom: $medium-spacing;

			li {
				margin-bottom: $medium-spacing;

				a {
					text-decoration: none;
					color: inherit;

					.search-result-item-title {
						@extend %p-style;
						font-family: $font-family-secondary;
						margin-bottom: $xsmall-spacing;
					}

					.search-result-item-description {
						@extend %text-small;
						margin-bottom: $xsmall-spacing;
					}

					.search-result-item-date {
						@extend %text-small;
					}

					&:hover {
						font-style: italic;
					}
				}
			}
		}

		.search-suggestions {
			p {
				@extend %text-small;
			}

			ul {
				margin-left: 20px;

				li {
					@extend %text-small;
					margin-bottom: 15px;
				}
			}
		}

		.pagination {
			border-top: 1px solid $black;
			padding-top: $medium-spacing;
		}
	}
}