@import '../../../../Styles/SassResources/sass-resources.scss';

.tab-item.standard {
	display: none;
	opacity: 0;
	transition: opacity $slow-speed;

	&.open {
		display: block;
		opacity: 1;
	}

	.tab-item-image {
		margin-bottom: $small-spacing;

		img {
			width: 100%;
		}
	}

	.tab-item-subtitle {
		@extend %h4-style;
		margin-bottom: 0;
	}
}
