@import '../../../../Styles/SassResources/sass-resources.scss';

.cookie-banner.closed {
	display: none;
}

.cookie-banner.hidden {
	display: none;
}

.cookie-banner.standard {
	@include angle(before, true, 3deg);
	background-color: $core-colour-1;
	display: none;
	padding: $small-spacing 0;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 10;

	@include breakpoint(large) {
		max-width: 80%;
	}

	.cookie-banner-title {
		@extend %h5-style;

		@include breakpoint(medium) {
			margin-top: 0;
		}
	}

	.cookie-banner-text {
		p {
			@extend %text-small;
		}
	}

	.cookie-banner-close {
		@extend %text-small;
		margin-bottom: 0;
		cursor: pointer;
	}
}

.cookie-banner.open {
	display: block;
}

