@import '../../../../Styles/SassResources/sass-resources.scss';

.tags.standard {
	.tags-group {
		margin-bottom: $small-spacing;

		@include breakpoint(large) {
			margin-bottom: $medium-spacing;
		}

		.tags-group-title {
			text-transform: uppercase;
			margin-bottom: 10px;
		}

		.tags-list {
			list-style-type: none;

			> .tags-tag {
				display: inline;

				a {
					color: inherit;
				}

				&:last-child {
					.tag-divider {
						display: none;
					}
				}
			}
		}
	}
}
