@import '../../../../Styles/SassResources/sass-resources.scss';

.contact-item {
	.contact-item-img-cell {
		@include breakpoint(large) {
			order: 2;
		}
	}

	.contact-item-content-cell {
		@include breakpoint(large) {
			order: 1;
		}

		.contact-item-title {
			@extend %h4-style;
		}

		p {
			margin-bottom: 10px;
		}
	}
}
