@import '../../../../Styles/SassResources/sass-resources.scss';

.filter-listing-item {
	margin-bottom: $small-spacing;

	@include breakpoint(medium) {
		margin-bottom: $medium-spacing;
	}

	.filter-listing-item-title {
		@extend %h5-style;
		color: $black;
		text-decoration: none;
		display: block;
		margin-bottom: $xsmall-spacing;

		&:hover {
			font-style: italic;
		}
	}

	.filter-listing-item-tags {
		list-style: none;
		padding: 0;
		margin: 20px 0;
		display: flex;
		flex-direction: row;

		> li {
			margin-left: 10px;

			&:first-child {
				margin-left: 0;
			}
		}
	}
}
