@import '../../../../Styles/SassResources/sass-resources.scss';

.promotion-item.large-cta {
	.promotion-item-cta-wrapper {
		@include angle(before);
		text-decoration: none;
		color: inherit;
		display: block;
		padding: $medium-spacing 0;
		background-color: $core-colour-1;
		margin-top: $large-spacing;

		.promotion-item-cta-title {
			@extend %h4-style;
		}

		.promo-item-arrow {
			width: 35px;
			display: block;
			margin-left: auto;

			@include breakpoint(large) {
				width: 50px;
			}
		}

		&:hover {
			.promotion-item-cta-title {
				font-style: italic;
			}
		}
	}

	h1, h2, h3, h4, h5, h6, p {
		&:last-child {
			margin-bottom: 0;
		}
	}
}
