@import '../../../../Styles/SassResources/sass-resources.scss';

.header-item.secondary-image {
	padding-top: 100px;

	@include breakpoint(large) {
		padding-top: 11%;
	}

	@include breakpoint(xlarge) {
		padding-top: 8%;
	}

	.header-item-secondary-image {
		margin-bottom: $small-spacing;
		margin-left: auto;
		display: block;

		@include breakpoint(medium) {
			margin-bottom: 0;
		}
	}

	.header-item-title {
		@extend %h2-style;

		@include breakpoint(large) {
			margin-bottom: 50px;
		}
	}


	.header-item-image-wrapper {
		margin-right: calc(-#{rem-calc(map-get($grid-container-gutters, small))} / 2);
		margin-left: calc(-#{rem-calc(map-get($grid-container-gutters, small))} / 2);

		@include breakpoint(medium) {
			margin-right: calc(-#{rem-calc(map-get($grid-container-gutters, medium))} / 2);
			margin-left: calc(-#{rem-calc(map-get($grid-container-gutters, medium))} / 2);
		}

		@include breakpoint(large) {
			margin-right: calc(-#{rem-calc(map-get($grid-container-gutters, large))} / 2);
			margin-left: calc(-#{rem-calc(map-get($grid-container-gutters, large))} / 2);
		}

		.header-item-image {
			width: 100%;
		}
	}
}
