@import '../../../../../Styles/SassResources/sass-resources.scss';

.media-controls-wrapper {
	margin-right: calc(-#{rem-calc(map-get($grid-container-gutters, small))} / 2);

	@include breakpoint(medium down) {
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
		-ms-overflow-style: -ms-autohiding-scrollbar;
	}

	@include breakpoint(medium) {
		margin-right: calc(-#{rem-calc(map-get($grid-container-gutters, medium))} / 2);
	}

	@include breakpoint(large) {
		margin-right: calc(-#{rem-calc(map-get($grid-container-gutters, large))} / 2);
	}

	.media-controls {
		list-style-type: none;
		padding: 0;
		margin: 0 0 40px 0;

		@include breakpoint(medium down) {
			width: 850px;
		}

		li {
			display: inline;
			margin-right: 90px;
			cursor: pointer;

			&.active {
				a {
					font-weight: $font-weight-regular;
				}
			}

			a {
				@extend %text-medium;
				text-decoration: none;

				&:hover {
					font-style: italic;
				}
			}
		}
	}
}
