@import '../../../../Styles/SassResources/sass-resources.scss';

.anchor-link-item.standard {
	@extend %p-style;
	text-transform: uppercase;
	color: inherit;
	text-decoration: none;
	margin: 0 $small-spacing;

	&:hover {
		font-style: italic;
	}
}
