@import '../../../../Styles/SassResources/sass-resources.scss';

.link-list-item.standard {
	margin-bottom: $medium-spacing;

	@include breakpoint(large) {
		margin-bottom: 0;
	}

	.link-list-item-title {
		@extend %text-large;
		@extend %border-divider;
		border-width: 5px;
		color: inherit;

		a {
			text-decoration: none;
			color: inherit;

			&:hover {
				font-style: italic;
			}
		}
	}

	.link-list-item-subheading {
		@extend %text-small;
		display: block;
		margin-bottom: $small-spacing;
	}

	ul {
		list-style-type: none;
		padding-right: $xsmall-spacing;

		li {
			a {
				color: inherit;

				&:hover {
					font-style: italic;
				}
			}
		}
	}
}