@import '../../../../Styles/SassResources/sass-resources.scss';

.highlighted-navigation-item.standard {
	@extend %p-style;
	letter-spacing: 4px;
	text-transform: uppercase;
	text-decoration: none;
	color: inherit;
	position: relative;
	z-index: 10;

	@include breakpoint(large) {
		padding:0 $xsmall-spacing;
	}

	.highlighted-navigation-item-icon {
		display: none;

		@include breakpoint(large) {
			height: 70px;
			position: absolute;
			bottom: -50px;
			left: 50%;
			transform: translate(-50%, 20px);
			opacity: 0;
			z-index: -1;
		}
	}

	&:hover {
		font-style: italic;
	}

	&.active {
		.highlighted-navigation-item-icon {
			@include breakpoint(large) {
				display: block;
				animation-name: fadeIn;
				animation-duration: $medium-speed;
				animation-delay: $slow-speed;
				animation-fill-mode: forwards;
			}
		}
	}
}

@keyframes fadeIn {
	from {
		transform: translate(-50%, 20px);
		opacity: 0;
	}

	to {
		transform: translate(-50%, 0);
		opacity: 1;
	}
}
