@import '../../../../Styles/SassResources/sass-resources.scss';

.people-module.standard {
	overflow: hidden;

	.person-item {
		margin-bottom: $medium-spacing;

		@include breakpoint(large) {
			margin-bottom: 0;
		}

		.person-item-image {
			margin-bottom: 15px;

			@include breakpoint(medium) {
				margin-bottom: $small-spacing;
			}
		}

		.person-item-name {
			@extend %p-style;
			font-weight: $font-weight-regular;
			color: $black;
			margin-bottom: 0;
		}

		.person-item-job-title {
			@extend %p-style;
			color: $black;
			margin-bottom: 15px;

			@include breakpoint(medium) {
				margin-bottom: $small-spacing;
			}
		}

		.person-item-bio {
			margin-bottom: 15px;
		}
	}
}
